.appBody {
  /* height: calc(100% - 60px); */
  height: calc(100vh - 60px);
  width: 100%;
  display: flex;
}
.leftBlock {
  display: flex;
  float: left;
  height: 100%;
  background-color: rgb(36, 37, 39);
  width: 30%;
}
.rightBlock {
  background-color: turquoise;
  float: right;
  display: flex;
  width: 70%;
}
